<mat-toolbar color="secondary">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Liste des communes du département {{departementSelected().nom}} </span>
</mat-toolbar>

<div class="content">

  <div class="alphabet-filter">
    @for (letter of 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split(''); track letter) {
      <button
        (click)="selectLetter(letter)"
        [class.active]="selectedLetter === letter">
        {{ letter }}
      </button>
    }
    <button (click)="selectLetter('')" [class.active]="selectedLetter === ''" >Tout</button>
  </div>

  <mat-list class="full-width">
    @for (commune of filteredCommunes; track commune.code) {
      <mat-list-item>
        {{ commune.nom }}
      </mat-list-item>
    }
  </mat-list>
</div>
